{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col">
    <a class="btn btn-success" href="/recipe_create">Add Recipe</a>
  </div>
  <div class="col">
    <form class="form-inline my-2 my-lg-1x">
      <input
        name="Search"
        action=""
        class="form-control mr-sm-2"
        type="Search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-sucess my-2 my-sm-0" type="submit">
        Search
      </button>

      <!-- <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="submit"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Advanced Search
    </button>

    <label class="dropdown-item"
      ><input type="checkbox" name="name" value="name" />Name</label
    >
    <label class="dropdown-item"
      ><input type="checkbox" name="cuisine" value="cuisine" />Cuisine</label
    >
    <label class="dropdown-item"
      ><input
        type="checkbox"
        name="ingredients"
        value="ingredients"
      />Ingredients</label
    >
  </div> -->
    </form>
  </div>
</div>
<div class="row">
  {% for recipe_name in objs %}
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{recipe_name.name |title}}</h5>

        <a class="btn btn-info" href="recipe_view.html/{{recipe_name.id}}/"
          >View Recipe</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
