

{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter password">
    <input type="submit" value="login">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</form>
{% endblock %}